services:

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    ports:
      - ${DB_PORT}:5432
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations/db.sql:/docker-entrypoint-initdb.d/db.sql
    networks:
      - monitoring

  main:
    build:
      context: ./app
      dockerfile: Dockerfile.dev
    restart: always
    ports:
      - ${PORT}:${PORT}
    environment:
      ENVIRONMENT: ${ENVIRONMENT}
      PORT: ${PORT}
      JWT_SECRET: ${JWT_SECRET}
      API_URL: ${API_URL}
      CLIENT_URL: ${CLIENT_URL}
      HOST: ${HOST}
      LANGUAGE: ${LANGUAGE}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      OPENAI_KEY: ${OPENAI_KEY}
      GOOGLE_CLIENT_ID : ${GOOGLE_CLIENT_ID}
      GOOGLE_SECRET_KEY : ${GOOGLE_SECRET_KEY}
    depends_on:
      - postgres
    networks:
      - monitoring
    volumes:
      - ./app:/app
      - /app/node_modules

  prometheus_monitor:
    image: prom/prometheus:latest
    container_name: prometheus_monitor
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge

volumes:
  postgres_data: